@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxP.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px;
    background: rgb(245, 245, 245);
    font-family: 'Roboto', sans-serif;
}

.centraliza{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
    gap: 50px;
}

.fileira{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    perspective: 1000px; 
}

.produto{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 10px solid white;
    border-radius: 2%;
    background: white;
    transition: 600ms ease-out;
}

.produto:hover{
    border: 10px solid lightgray;
    rotate: x 2deg;
    box-shadow: 0px 10px 15px gray;
}

.nome, .preco, .compra, #finalizar_compra{
    transition: 600ms ease-out;
}

.nome{
    font-size: 22px;
}

.preco{
    font-size: 26px;
}

.compra, #finalizar_compra{
    margin-bottom: 10%;
    padding: 8px 48px;
    cursor: pointer;
    border-radius: 3%;
    background: rgb(86, 207, 136);
    color: white;
    border: transparent;
}

.compra:hover, #finalizar_compra:hover{
    scale: 1.1;
}

.produto:hover .preco, .produto:hover .nome, .produto:hover .compra{
    transform: translateY(-4px);
}

.produto:hover .imagem{
    transform: translateY(-8px);
}

.produto:hover .imagem{
    scale: 1.1
}

.imagem{
    height: 150px;
    transition: 600ms ease-out;
}

.cabeçalho{
    width: 100%;
    height: 15vh;
    background: rgb(64, 64, 64);
    display: flex;
    justify-content: space-between;
}

.rodape{
    width: 100%;
    height: 15vh;
    background: rgb(64, 64, 64);
    display: flex;
    align-items: center;
}

.lado_rodape{
    width: 50%;
    font-size: 26px;
    color: white;
    margin: 00px 0px 0px 30px;
}

.linha_rodape{
    width: 0.2vw;
    height: 80%;
    border-radius: 20%;
    background: lightgray;
}

.rodape img{
    height: 25px;
    filter: invert(100%);
    margin: 0px 0px -4px 10px;
}

.logo{
    scale: 0.75;
    filter: invert(100%);
    cursor: pointer
}

.user{
    scale: 0.3;
    filter: invert(100%);
    cursor: pointer
}

.pagina_pagamento{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    position: fixed;
    top: 20vh;
    width: 60vw;
    height: 60vh;
    border-radius: 0.5%;
    background-color: white;
    font-size: 22px;
}

#fechou{
    width: 40px;
    height: 30px;
    background: crimson;
    color: white;
    border: transparent;
    position: absolute; 
    right: 0.3rem;
    top: 0.3rem;
    padding: 0px;
    border-radius: 10%;
    margin-right: 0px;
    transition: scale 200ms;
}

#fechou:hover{
    scale: 110%;
}

.informacoes_compra{
    padding: 0px 0px 0px 20px;
    height: 70%;
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagem_compra{
    height: 70%;
    flex: 3;
}

.informacoes_pagamento{
    padding: 0px 0px 0px 20px;
    width: 100%;
    height: 30%;
 }

.dados_comprador_pix{
    display: none;
}

.dados_comprador_cartao{
    display: none;
}

.escurece{
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0px;
    justify-content: center;
    align-items: center;
}

.finaliza{
    padding-top: 5%;
}
